.card-container { 
  display: flex; 
  padding: 20px;
  -webkit-box-shadow: 0px 1px 9px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 1px 9px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 1px 9px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card-image { 
  width: 186px;
  height: 150px;
  margin-right: 20px; 
  border-radius: 3px; 
}

.card-text {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  flex-direction: column;
}

.card-category {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #bbb;
  margin: 0; 
}

.post-title {
  padding: 0; 
  font-size: 26px;
  font-weight: bold;  
  margin: 0; 
  line-height: 1;
}

.post-title a {
  text-decoration: none;
  box-shadow: none !important;
  color: #333;
}

.post-title a:hover {
  color: #888; 
}

#byline {
  display: inline-block;
  margin: 0; 
  color: #bbb; 
  font-weight: 200; 
}

#author {
  display: inline-block;
}
#author a {
  text-decoration: none ;
  box-shadow: none ;
  color: blue; 
}

#timestamp {
  display: inline-block;
  line-height: 1;
}

.mobile-show {
    display: inline-block; 
    font-size: 9px;
    color: #bbb;
  }

@media only screen and (min-width: 728px)  {
  .mobile-show {
    display: none;
  }
}

@media only screen and (max-width: 727px)  {

  .card-image { 
    width: 100px;
    height: 100px;
    margin-right: 15px; 
  }
  #byline {
    display: none;
  }
   .card-category {
    font-size: 9px;
  }
  .post-title {
    font-size: 16px; 
  }
}



